div{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 50px;
    background-color: turquoise;
    color: chocolate;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: all 1s;
}

button:hover{
    background-color: yellowgreen;
    transform: translateY(30px);
}

.loop{
    animation: loop 3s infinite;
}

@keyframes loop {
    100%{
    transform: rotate(360deg)
    }
    0%{

    }
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}